body {
  margin: 0;
  font-family: Arial;
  background: #0b1f3a;
  color: white;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.card {
  background: #102a4c;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}